/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
  background: linear-gradient(180deg, #134d71, #78a7c6, #f7e4bf);
}

h1, h2 {
  text-align: center;
}

#choice-box {
  height: 120px;
  width: 650px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: auto;
}

#message-button {
  background-color: #134d71;
  border-radius: 5px;
  width: 150px;
  position: relative;
  left: -90px;
  bottom: -90px;
}

#image-box {

}

#meditation-img{
  width: 100px;
  length: 100px;
}

#radio1 {
  position: relative;
  left: -35px;
  bottom: -40px;
}

#radio2 {
  position: relative;
  left: 170px;
  bottom: -40px;
}

.white {
  color: #ffffff;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

label {
  align-items: center;
}
/*
.text1 {

}

.text2 {

}
*/
