/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
  background: linear-gradient(180deg, #134d71, #78a7c6, #f7e4bf);
}

h1, h2, h4 {
  text-align: center;
}

#choice-box {
  height: 120px;
  width: 600px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: auto;
}

#message-button1 {
  background-color: #134d71;
  border-radius: 5px;
  width: 150px;
  margin: 0 150px;
  display: block;
  margin-top: 50px;
}

#message-button2 {
  background-color: #134d71;
  border-radius: 5px;
  width: 150px;
  margin: 0 350px;
  display: block;
  margin-top: -24px;
}

#image-box {
  height: 200px;
  width: 900px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: auto;
  margin-top: 150px;
}

#meditation-img{
  width: 100px;
  length: 100px;
}

.meditation-img-small{
  width: 30px;
  length: 30px;
}

.white {
  color: #ffffff;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5%
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding-top: 20px;
  font-style: italic;
}

.radio-container1 {
  margin-left: 100px;
}


.radio-container2 {
  margin-left: 200px;
}

.hide {
  display: none;
}

.message {
  padding-top: 80px;
  font-weight: lighter;
}
