/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
  background: linear-gradient(180deg, #134d71, #78a7c6, #f7e4bf);
}

body {
  font-family: 'Quicksand', sans-serif;
}

#choice-box {

}

#message-button {

}

#meditation-img{
  width: 100px;
  length: 100px;
}

.white {
  color: #ffffff;
}
